.main {
    padding:50px
}

img {
    border: 2px solid white;
}

.chips {
    border-bottom: 0;
    text-align: center;
    margin: 20px 0px 0px 0px;
}

a {
    margin-left: 5px;
    margin-right: 5px;
}